<ion-view view-title="Campus">
  <ion-content ng-controller="MyCtrl" class="has-subheader">


	<!-- <h4 align="center" class="sub">Select Campus</h4> -->
    <div class="row">
		<!-- NEWNHAM -->
      <div class="col-50">
        <div class="list card">

          <div class="item">
            <h2>Newnham</h2>
          </div>

          <div class="item item-image">
			  <a  href="#/nh">
            <img class="image-responsive" src="img/newnham.jpg">

			  </a>
          </div>

    	</div>
    </div>


	<!--  Seneca @ York-->

	<div class="col-50">
	  <div class="list card">

		<div class="item">
		  <h2>York</h2>
		</div>

	<div class="item item-image">
		<a href="#/sy">
	  <img class="" src="img/york.jpg">

		</a>
	</div>

	  </div>
  </div>


    </div>


	<div class="row">

		<!--  MArkham-->
		<div class="col-50">
          <div class="list card">

            <div class="item item">
              <h2>Markham</h2>
            </div>

        <div class="item item-image">
			<a href="#/mk">
		  <img class="" src="img/markham.jpg">

			</a>
		</div>

      	</div>
      </div>

	  <!-- King  -->

	  <div class="col-50">
        <div class="list card">

          <div class="item item">
            <h2>King</h2>
          </div>

        <div class="item item-image">
			<a href="#/kg">
		  <img class="" src="img/king.jpg">

			</a>
		</div>

    	</div>
    </div>

	</div>
  </ion-content>
</ion-view>
