  <!-- The title of the ion-view will be shown on the navbar -->
  <ion-view view-title="Newnham">
    <ion-content ng-controller="MyCtrl">

	  <!-- The content of the page -->

<div class="row">
	<!-- NEWNHAM -->
  <div class="col-50">
	<div class="list card">

	  <div class="item text-wrap">
		<h2> Starbucks 2nd Floor</h2>
	  </div>

	  <div class="item item-image">
		  <a  href="#/comingsoon">
		<img class="image-responsive " src="img/starbucks.png" >

		  </a>
	  </div>

	</div>
</div>



<div class="col-50">
  <div class="list card">

	<div class="item">
	  <h2>Tim Hortons 1st Floor</h2>
	</div>

<div class="item item-image">
	<a href="#/comingsoon">
  <img class="" src="img/tim.jpg">

	</a>
</div>

  </div>
</div>


</div>

<div class="row">
	<!-- NEWNHAM -->
  <div class="col-50">
	<div class="list card">

	  <div class="item">
		<h2>Tim Hortons 3rd Floor</h2>
	  </div>

	  <div class="item item-image">
		  <a  href="#/comingsoon">
		<img class="image-responsive" src="img/tim.jpg">

		  </a>
	  </div>

	</div>
</div>


<!--  Seneca @ York-->

<div class="col-50">
  <div class="list card">

	<div class="item">
	  <h2>Starbucks 1st Floor(Cafeteria)</h2>
	</div>

<div class="item item-image">
	<a href="#/comingsoon">
  <img class="" src="img/starbucks.png">

	</a>
</div>

  </div>
</div>


</div>

<div class="row">
	<!-- NEWNHAM -->
  <div class=" col-offset-25 col-50">
	<div class="list card">

	  <div class="item">
		<h2>Mini Tim Hortons</h2>
	  </div>

	  <div class="item item-image">
		  <a  href="#/comingsoon">
		<img class="image-responsive" src="img/tim.jpg">

		  </a>
	  </div>

	</div>
</div>




</div>



    </ion-content>
  </ion-view>
